#page-wrapper
	#profile-image
		= image_tag "profile.jpeg"

	#content
		%h1 Hey, it's me BlogSrvice
		%p Selvage vice cray, activated charcoal schlitz sriracha hoodie godard umami locavore deep v. Marfa pug slow-carb, seitan copper mug wayfarers tofu art party snackwave pok pok. Selvage williamsburg tumeric, venmo edison bulb kombucha small batch roof party gochujang butcher hella raw denim fingerstache mustache fixie. Authentic cardigan bicycle rights poutine wayfarers four loko cronut edison bulb blue bottle pickled. Gochujang woke blue bottle vaporware, cred knausgaard scenester forage lo-fi.